/Parcial3/build/
/Parcial3/dist/
/Parcial3/nbproject/private/
/Parcial1-PARTE 3/Parcial1-2018/build/
/Parcial1-PARTE 3/Parcial1-2018/dist/
/Parcial1-PARTE 3/Parcial1-2018/nbproject/private/
/Parcial2-PARTE3-Equipo6/build/
/Parcial2-PARTE3-Equipo6/nbproject/private/
/Parcial2-PARTE3/build/
/Parcial2-PARTE3/nbproject/private/
/Parcial2Equipos/build/
/Parcial2Equipos/nbproject/private/
/Parcial2/build/
/Parcial2/nbproject/private/
/Parcial1-2018/build/
/Parcial1-2018/dist/
/Parcial1-2018/nbproject/private/
/Parcial1/build/
/Parcial1/dist/
/Parcial1/nbproject/private/
/Parciales-2018/Parcial1/build/
/Parciales-2018/Parcial1/dist/
/Parciales-2018/Parcial1/nbproject/private/
/Parciales-2018/Parcial2/build/
/Parciales-2018/Parcial2/nbproject/private/
/Parciales-2018/Parcial2Equipos/build/
/Parciales-2018/Parcial2Equipos/nbproject/private/
/Parciales-2018/Parcial3/build/
/Parciales-2018/Parcial3/dist/
/Parciales-2018/Parcial3/nbproject/private/
/Domiciliarios-2018/Domiciliarios/build/
/Domiciliarios-2018/Domiciliarios/nbproject/private/
/Domiciliarios-2018/UT4-UT5-Grafos/build/
/Domiciliarios-2018/UT4-UT5-Grafos/dist/
/Domiciliarios-2018/UT4-UT5-Grafos/nbproject/private/
/UT1/TA1/nbproject/private/
/UT1/TA1/build/
/2018/Domiciliarios-2018/Domiciliarios/build/
/2018/Domiciliarios-2018/Domiciliarios/nbproject/private/
/2018/Domiciliarios-2018/UT4-UT5-Grafos/build/
/2018/Domiciliarios-2018/UT4-UT5-Grafos/dist/
/2018/Domiciliarios-2018/UT4-UT5-Grafos/nbproject/private/
/2018/Parciales-2018/Parcial1/build/
/2018/Parciales-2018/Parcial1/dist/
/2018/Parciales-2018/Parcial1/nbproject/private/
/2018/Parciales-2018/Parcial2/build/
/2018/Parciales-2018/Parcial2/nbproject/private/
/2018/Parciales-2018/Parcial2Equipos/build/
/2018/Parciales-2018/Parcial2Equipos/nbproject/private/
/2018/Parciales-2018/Parcial3/build/
/2018/Parciales-2018/Parcial3/dist/
/2018/Parciales-2018/Parcial3/nbproject/private/
/UT2/PD1/nbproject/private/
/UT2/TA2/nbproject/private/
/UT2/TA2/build/
/UT3/UT2/build/
/UT3/UT2/nbproject/private/
/UT3/PD1/nbproject/private/
/UT3/PD1/build/
/UT3/PD3/nbproject/private/
/UT3/PD3/EJ1/nbproject/private/
/UT3/PD3/EJ1/build/
/UT3/PD3/EJ2/nbproject/private/
/UT3/PD3/EJ2/build/
/UT3/PD3/EJ3/nbproject/private/
/UT3/PD3/EJ3/build/
/UT3/PD3/EJ4/nbproject/private/