/UT1_PD1/nbproject/private/
/UT1_PD1/build/
/PD1/nbproject/private/
/UT2_PD1/nbproject/private/
/UT2_PD1/build/
/UT2_PD2/nbproject/private/
/UT2_PD2/build/
/AED2_2019/UT2/TA3/nbproject/private/
/PredictorTrie/build/
/PredictorTrie/nbproject/private/
/UT2_TA3/build/
/UT2_TA3/nbproject/private/
/UT2_PD3/nbproject/private/
/UT2_PD3/build/
/UT2_PD4/nbproject/private/
/UT3_PD1/nbproject/private/
/UT3_PD1/build/
/PD3/EJ1/build/
/PD3/EJ1/nbproject/private/
/PD3/EJ2/build/
/PD3/EJ2/nbproject/private/
/PD3/EJ3/build/
/PD3/EJ3/nbproject/private/
/PD3/EJ4/nbproject/private/
/UT3_PD3/EJ1/build/
/UT3_PD3/EJ1/nbproject/private/
/UT3_PD3/EJ2/build/
/UT3_PD3/EJ2/nbproject/private/
/UT3_PD3/EJ3/build/
/UT3_PD3/EJ3/nbproject/private/
/UT3_PD3/EJ4/nbproject/private/
/UT3_PD2/nbproject/private/
/PARCIAL1-PARTE3/PARCIAL1-PARTE3/nbproject/private/
/AED2_2019/UT2/TA3/build/
/UT5_PD1/nbproject/private/
/UT5_PD2/nbproject/private/
/AED2_2019/Examen_MEKI/build/
/AED2_2019/Examen_MEKI/nbproject/private/
/PARCIAL1-PARTE3_2020/PARCIAL1-PARTE3/nbproject/private/
/UT5_PD1/build/
/UT5_PD1/dist/
/Ordenamiento I/AlgotimosOrdenamientoV1/nbproject/private/
/Ordenamiento I/AlgotimosOrdenamientoV1/build/
/Ordenamiento I/AlgotimosOrdenamientoV1/dist/