/Parcial3/build/
/Parcial3/dist/
/Parcial3/nbproject/private/
/Parcial1-PARTE 3/Parcial1-2018/build/
/Parcial1-PARTE 3/Parcial1-2018/dist/
/Parcial1-PARTE 3/Parcial1-2018/nbproject/private/
/Parcial2-PARTE3-Equipo6/build/
/Parcial2-PARTE3-Equipo6/nbproject/private/
/Parcial2-PARTE3/build/
/Parcial2-PARTE3/nbproject/private/
/Parcial2Equipos/build/
/Parcial2Equipos/nbproject/private/
/Parcial2/build/
/Parcial2/nbproject/private/
/Parcial1-2018/build/
/Parcial1-2018/dist/
/Parcial1-2018/nbproject/private/
/Parcial1/build/
/Parcial1/dist/
/Parcial1/nbproject/private/
/Parciales-2018/Parcial1/build/
/Parciales-2018/Parcial1/dist/
/Parciales-2018/Parcial1/nbproject/private/
/Parciales-2018/Parcial2/build/
/Parciales-2018/Parcial2/nbproject/private/
/Parciales-2018/Parcial2Equipos/build/
/Parciales-2018/Parcial2Equipos/nbproject/private/
/Parciales-2018/Parcial3/build/
/Parciales-2018/Parcial3/dist/
/Parciales-2018/Parcial3/nbproject/private/
/Domiciliarios-2018/Domiciliarios/build/
/Domiciliarios-2018/Domiciliarios/nbproject/private/
/Domiciliarios-2018/UT4-UT5-Grafos/build/
/Domiciliarios-2018/UT4-UT5-Grafos/dist/
/Domiciliarios-2018/UT4-UT5-Grafos/nbproject/private/
/UT1/TA1/nbproject/private/
/UT1/TA1/build/
/2018/Domiciliarios-2018/Domiciliarios/build/
/2018/Domiciliarios-2018/Domiciliarios/nbproject/private/
/2018/Domiciliarios-2018/UT4-UT5-Grafos/build/
/2018/Domiciliarios-2018/UT4-UT5-Grafos/dist/
/2018/Domiciliarios-2018/UT4-UT5-Grafos/nbproject/private/
/2018/Parciales-2018/Parcial1/build/
/2018/Parciales-2018/Parcial1/dist/
/2018/Parciales-2018/Parcial1/nbproject/private/
/2018/Parciales-2018/Parcial2/build/
/2018/Parciales-2018/Parcial2/nbproject/private/
/2018/Parciales-2018/Parcial2Equipos/build/
/2018/Parciales-2018/Parcial2Equipos/nbproject/private/
/2018/Parciales-2018/Parcial3/build/
/2018/Parciales-2018/Parcial3/dist/
/2018/Parciales-2018/Parcial3/nbproject/private/
/UT2/PD1/nbproject/private/
/UT2/TA2/nbproject/private/
/UT2/TA2/build/
/UT3/UT2/build/
/UT3/UT2/nbproject/private/
/UT3/PD1/nbproject/private/
/UT3/PD1/build/
/UT3/PD3/nbproject/private/
/UT3/PD3/EJ1/nbproject/private/
/UT3/PD3/EJ1/build/
/UT3/PD3/EJ2/nbproject/private/
/UT3/PD3/EJ2/build/
/UT3/PD3/EJ3/nbproject/private/
/UT3/PD3/EJ3/build/
/UT3/PD3/EJ4/nbproject/private/
/PARCIAL 1 - PAST/Parcial1-2018/build/
/PARCIAL 1 - PAST/Parcial1-2018/dist/
/PARCIAL 1 - PAST/Parcial1-2018/nbproject/private/
/PARCIAL 1 - PAST/parcial1-2017/build/
/PARCIAL 1 - PAST/parcial1-2017/nbproject/private/
/Parcial 1 - 2019/build/
/Parcial 1 - 2019/dist/
/Parcial 1 - 2019/nbproject/private/
/Parcial 1  - Equipos/build/
/Parcial 1  - Equipos/dist/
/Parcial 1  - Equipos/nbproject/private/
/UT2/TA5/build/
/UT2/TA5/dist/
/UT2/TA5/nbproject/private/
/UT2/TA6/build/
/UT2/TA6/nbproject/private/
/UT2/UT3_TA1/nbproject/private/
/UT2/TA1/nbproject/private/
/UT4/TA3/build/
/UT4/TA3/nbproject/private/
/UT5/PD1/nbproject/private/
/Parcial 2  - PAST/Parcial2/build/
/Parcial 2  - PAST/Parcial2/nbproject/private/
/PARCIAL 1 - PAST/Parcial1/build/
/PARCIAL 1 - PAST/Parcial1/dist/
/PARCIAL 1 - PAST/Parcial1/nbproject/private/
/Parcial 2  - PAST/Preparacion2parcial - 2019/build/
/Parcial 2  - PAST/Preparacion2parcial - 2019/nbproject/private/
/Parcial 2  - PAST/grafosFinal - 2019/nbproject/private/
/PARCIAL 2 - 2019/build/
/PARCIAL 2 - 2019/dist/
/PARCIAL 2 - 2019/nbproject/private/
/PARCIAL 2 PARTE 3/build/
/PARCIAL 2 PARTE 3/nbproject/private/
/Parcial 2 - 2019/build/
/Parcial 2 - 2019/nbproject/private/
/UT7/InsertionSort/nbproject/private/
/UT7/SelectionSort/nbproject/private/
/UT6/QuickSort/nbproject/private/
/UT7/HeapSort/nbproject/private/